html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f2f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-content {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.page-title {
    text-align: center;
}

a {
    text-decoration: none;
}

#navbar {
    background-color: #3e2557;
    color: white;
    padding: 1rem 0;
}

#navbar a {
    color: white;
}

#navbar a:hover {
    color: #f0f8ffe9;
}

#navbar ol {
    display: flex;
    gap: 30px;
    padding: 0px 50px;
    list-style-type: none;
    align-items: center;
}

#profile-pic {
    height: 30px;
    border-radius: 50%;
}

#profile-li {
    margin-left: auto;
}

#profile-link {
    display: flex;
    align-items: center;
}

#nav-username {
    margin-left: 10px;
}

#footer {
    padding: 0px 50px 25px 50px;
    margin-top: auto;
}

.video-container {
    display: flex;
    justify-content: space-between;
}

.video {
    border: 2px solid black;
}

p {
    padding: 20px 0px 5px 0px;
}

form div {
    padding: 10px 0px;
}

#tags-label {
    padding-bottom: 0;
}

.form-tags {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.tag-component {
    flex: 1 0 25%;
    margin: 5px;
}

.search-area {
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 60%;
    height: 30px;
}

#search-icon {
    border: 1px solid black;
    height: 28px;
}

body {
    display: flex;
    flex-direction: column;
}

#btn-search {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
}

.required {
    color: red;
}

.error {
    padding: 10px;
    background-color: #f44336; /* Red */
    border: 2px solid #cb372d;
    color: white;
    margin-bottom: 5px;
}

.error-container {
    padding-bottom: 10px;
}

.video-container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 35px 10px
}

.video-component {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-component > a, .thumbnail {
    width: 100%;
}

.video-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
}

.video-header > form {
    margin: 0;
}

.video-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.video-component-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20px;
}

.video-component-col > a, .video-component-col > a > .thumbnail {
    width: 30%;
}

#login-form {
    text-align: center;
}

#password {
    margin-bottom: 15px;
}
